.sidebar {
    width: 15%;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    position: sticky;
    top: 0px;
    left: 0px;
}

.sidebar-icons {
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
}

.sidebar-icons:hover {
    background-color: rgb(33, 33, 33);
}

.sidebar-icons-div {
    display: flex;
    justify-content: space-between;
}